#controls {
   width:60%;
}
#number {
    background-color: black;
    color: white;
}
#random {
    background-color: pink;
    
}
#plus {
    background-color: grey;
    color: white;
}

.range {
    width: 50px;
}
input {
    width: 50px;
}
.newItem {
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}
#autoRandom {
    background-color: skyblue;
}
